/.build/                 
/.swiftpm/               
/Packages/               
/SourcePackages/         

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
*.xcworkspace/
DerivedData/
xcuserdata/
*.xccheckout
*.xcscmblueprint

.DS_Store
.AppleDouble
.LSOverride
*.swp
*.swo
*~
.vscode/
.idea/
.build/

*.log
*.trace
*.profraw
*.profdata
.swiftlint_cache

/dist/
/*.tar.gz
/*.zip

/build/                
